@model Mikencoderx.Models.Membresias
@{
	Layout="_Lateral";
	ViewData["Title"] = "Crear Membresias";
}
<div class="container ps-5 pt-5">
	<div class="row justify-content-center mt-5 mb-5">
		<div class="col-12 mt-5 mb-2">
			<h1>
				@ViewData["Title"]
			</h1>
		</div><form asp-action="Crear-Membresias" method="post" class="col-md-5 col-12">
		<div class="col-12 mt-3">
			<h5 class="text-secondary">
				SELECCIONA UN CLIENTE
			</h5>
			<select asp-for="FkClientes" asp-items="ViewBag.Clientes" class="form-select" required
			     placeholder="Nombre cliente">
				</select>
		</div>
		        <div class="col-12 mt-3">
			          <h5 class="text-secondary">
				       Nombre del proyecto
			          </h5>
			          <input asp-for="Proyectos" type="text" class="form-control" required
		               placeholder="Nombre del proyecto">		
	            </div>
		       </form>
	</div>
</div>