#contenido {
    width: 100%;
    height: 100vh;
    margin: 40px;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}

#boton {
    display: none;
}

.imagen {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

@media screen and (max-width: 70rem) {
    #menu.active:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background: #000;
        opacity: 0.5;
        z-index: -1;
    }

    #menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background: #fff;
        display: none;
    }

        #menu.active {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            background: #fff;
            display: block;
        }

    #contenido {
        margin: 0px;
    }

    #boton.active {
        top: 5px;
        right: 5px;
        z-index: 200;
    }

    #boton {
        display: block;
        top: 5px;
        right: 5px;
        z-index: 200;
    }
}
