html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.figura-d {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.figura-z {
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}