@model Mikencoderx.Models.Clientes
@{
    Layout = "_Lateral";
    ViewData["Title"] = "Crear Cliente";
}
            <div class="container ps-5 pt-5">
                <div class="row justify-content-center mt-5 mb-5">
                    <form asp-action="CrearCliente" method="post" class="col-md-5 col-12">
                        <div class="col-12 mt-5 mb-2">
                            <h1>
                    @ViewData["Title"]
                            </h1>
                        </div>
                        <div class="col-12 mt-3">
                            <h5 class="text-secondary">
                                Nombre
                            </h5>
                            <input asp-for="Nombre" type="text" class="form-control" required 
                            placeholder="Nombre">
                        </div>
                        <div class="col-12 mt-3">
                            <h5 class="text-secondary">
                                Correo
                            </h5>
                            <input asp-for="Correo" type="email" class="form-control" required 
                            placeholder="Correo">
                        </div>
                        <div class="col-12 mt-3">
                            <h5 class="text-secondary">
                                Telefono
                            </h5>
                            <input asp-for="Telefono" type="tel" class="form-control" required 
                            placeholder="Telefono">
                        </div>
                        <div class="col-12 mt-3">
                            <h5 class="text-secondary">
                                RFC
                            </h5>
                            <input asp-for="RFC" type="text" class="form-control" required 
                            placeholder="RFC">
                        </div>
                        <div class="col-12 mt-3">

                            <a asp-action="Index"
                            class="link link-primary text-decoration-none text-primary
                            text-opacity-75 me-5">
                                Regresar</a>

                            <button type="submit" class="btn btn-primary">
                                Guardar
                            </button>                    
                        </div>
                    </form>
                </div>
            </div>
 <script>
        var texto ="Clientes"
        var a=document.getElementById(texto);
        var b=document.getElementById(texto+"-b");
        var c=document.getElementById(texto+"-a");

        a.classList.add("bg-primary");
        b.classList.remove("text-secondary");
        c.classList.remove("p-1")
    </script>