@model Mikencoderx.Models.Proyectos
@{
    Layout = "_Lateral";
    ViewData["Title"] = "Editar Proyecto";
}
            <div class="container ps-5 pt-5">
                <div class="row justify-content-center mt-5 mb-5">
                    <form asp-action="EditarProyecto" method="post" class="col-md-5 col-12">
                        <div class="col-12 mt-5 mb-2">
                            <h1>
                    @ViewData["Title"]
                            </h1>
                        </div>
                        <input type="hidden" asp-for="PkProyecto" />
                        <div class="col-12 mt-3">
                            <h5 class="text-secondary">
                                Nombre
                            </h5>
                            <input asp-for="Nombre" type="text" class="form-control" required 
                            placeholder="Nombre">
                        </div>
                        <div class="col-12 mt-3">
                            <h5 class="text-secondary">
                                Url del sitio web
                            </h5>
                            <input asp-for="URLWeb" type="text" class="form-control" required 
                            placeholder="Url del sitio web">
                        </div>
                        <div class="col-12 mt-3">
                            <h5 class="text-secondary">
                                Url master
                            </h5>
                            <input asp-for="URLMaster" type="text" class="form-control" required 
                            placeholder="Url master">
                        </div>
                        <div class="col-12 mt-3">
                            <h5 class="text-secondary">
                                lider de proyecto
                            </h5>
                            <select asp-for="FkProgramadores" asp-items="ViewBag.Programadores" class="form-select" required="">
                                <option value="">Selecciona</option>
                              </select>
                        </div>
                        <div class="col-12 mt-3">

                            <a asp-area="" asp-controller="Proyectos" asp-action="Index"
                            class="link link-primary text-decoration-none text-primary
                            text-opacity-75 me-5">
                                Regresar</a>

                            <button type="submit" class="btn btn-primary">
                                Guardar
                            </button>                    
                        </div>
                </form>
            </div>
        </div>
                  <script>
        var texto ="Proyectos"
        var a=document.getElementById(texto);
        var b=document.getElementById(texto+"-b");
        var c=document.getElementById(texto+"-a");

        a.classList.add("bg-primary");
        b.classList.remove("text-secondary");
        c.classList.remove("p-1")
    </script>