@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Lateral";
    ViewData["Title"] = "Proyectos";
}
            <div class="container ps-5 pt-5">
        <div class="row justify-content-between mt-5 mb-5">
            <div class="col-auto">
                <h1>
                @ViewData["Title"]
                </h1>
            </div>
            <div class="col-auto">
                <a asp-area="" asp-controller="Proyectos" asp-action="Crear"
                    class="btn btn-outline-morado animate h1">
                    + Agregar
                </a>
            </div>
        </div>
        <div class="tabla">
            <table class="table tabla-cont">

                <thead class="table-secondary table text-secondary">
                    <tr>
                        <td>
                           <h5>Nombre</h5>
                        </td>
                        <td>
                            <h5>Estado</h5>
                         </td>
                         <td>
                            <h5>Vencimiento</h5>
                         </td>
                         <td>
                            <h5>Acciones</h5>
                         </td>

                    </tr>
                </thead>

                <tbody >
                    <tr>
                        <td>
                           <h5>Defenza Juridica</h5>
                        </td>
                        <td>
                            <h5>Activo</h5>
                         </td>
                         <td>
                            <h5>30/11/2022</h5>
                         </td>
                         <td>
                            <a class="btn btn-primary m1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                                Editar</a>
                            <a class="btn btn-danger m1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                  </svg>
                                Eliminar</a>
                         </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>